extend leap_layout

block styles
    link(rel='stylesheet', href='/stylesheets/gestures.css')

block scripts
    script(src='//js.leapmotion.com/0.2.0/leap.min.js', type='text/javascript')
    script(src='/javascript/leap_gestures3.js')

block heading1
    h1 Leap Motion Gestures

block content
    p Marooned aft Jolly Roger bowsprit keelhaul Letter of Marque topsail hogshead American Main yo-ho-ho. Cat o'nine tails Gold Road splice the main brace capstan lookout keel Jack Ketch clap of thunder weigh anchor lad. Lass red ensign to go on account aye square-rigged rutters poop deck lee keelhaul chantey.
    p Sloop lass rutters Shiver me timbers run a rig deadlights jury mast tender sheet main sheet. Reef sails port ye interloper barkadeer gun salmagundi bowsprit gally stern. Matey draught clap of thunder nipper draft doubloon Pieces of Eight wherry haul wind lookout.
    p Davy Jones' Locker gunwalls Blimey quarterdeck interloper scuppers Buccaneer splice the main brace gally yard. Plate Fleet coffer Shiver me timbers tack trysail square-rigged capstan scurvy smartly bilged on her anchor. Yard salmagundi maroon plunder chase guns barkadeer Yellow Jack Jack Tar quarterdeck piracy.
    p Warp gun starboard Davy Jones' Locker hands clap of thunder parley careen Jack Tar tackle. Corsair bucko broadside landlubber or just lubber scurvy tack chase jolly boat splice the main brace brig. Pressgang Jack Ketch boom black jack ho gabion broadside Sail ho coffer spyglass.
    p Transom rum Letter of Marque run a shot across the bow hulk to go on account barkadeer keelhaul Buccaneer clap of thunder. Matey warp stern line Admiral of the Black dead men tell no tales fathom deadlights chantey chase guns. Squiffy jolly boat Nelsons folly rutters cackle fruit pressgang Plate Fleet execution dock Cat o'nine tails long boat.
    p Marooned aft Jolly Roger bowsprit keelhaul Letter of Marque topsail hogshead American Main yo-ho-ho. Cat o'nine tails Gold Road splice the main brace capstan lookout keel Jack Ketch clap of thunder weigh anchor lad. Lass red ensign to go on account aye square-rigged rutters poop deck lee keelhaul chantey.
    p Sloop lass rutters Shiver me timbers run a rig deadlights jury mast tender sheet main sheet. Reef sails port ye interloper barkadeer gun salmagundi bowsprit gally stern. Matey draught clap of thunder nipper draft doubloon Pieces of Eight wherry haul wind lookout.
    p Davy Jones' Locker gunwalls Blimey quarterdeck interloper scuppers Buccaneer splice the main brace gally yard. Plate Fleet coffer Shiver me timbers tack trysail square-rigged capstan scurvy smartly bilged on her anchor. Yard salmagundi maroon plunder chase guns barkadeer Yellow Jack Jack Tar quarterdeck piracy.
    p Warp gun starboard Davy Jones' Locker hands clap of thunder parley careen Jack Tar tackle. Corsair bucko broadside landlubber or just lubber scurvy tack chase jolly boat splice the main brace brig. Pressgang Jack Ketch boom black jack ho gabion broadside Sail ho coffer spyglass.
    p Transom rum Letter of Marque run a shot across the bow hulk to go on account barkadeer keelhaul Buccaneer clap of thunder. Matey warp stern line Admiral of the Black dead men tell no tales fathom deadlights chantey chase guns. Squiffy jolly boat Nelsons folly rutters cackle fruit pressgang Plate Fleet execution dock Cat o'nine tails long boat.
    p Marooned aft Jolly Roger bowsprit keelhaul Letter of Marque topsail hogshead American Main yo-ho-ho. Cat o'nine tails Gold Road splice the main brace capstan lookout keel Jack Ketch clap of thunder weigh anchor lad. Lass red ensign to go on account aye square-rigged rutters poop deck lee keelhaul chantey.
    p Sloop lass rutters Shiver me timbers run a rig deadlights jury mast tender sheet main sheet. Reef sails port ye interloper barkadeer gun salmagundi bowsprit gally stern. Matey draught clap of thunder nipper draft doubloon Pieces of Eight wherry haul wind lookout.
    p Davy Jones' Locker gunwalls Blimey quarterdeck interloper scuppers Buccaneer splice the main brace gally yard. Plate Fleet coffer Shiver me timbers tack trysail square-rigged capstan scurvy smartly bilged on her anchor. Yard salmagundi maroon plunder chase guns barkadeer Yellow Jack Jack Tar quarterdeck piracy.
    p Warp gun starboard Davy Jones' Locker hands clap of thunder parley careen Jack Tar tackle. Corsair bucko broadside landlubber or just lubber scurvy tack chase jolly boat splice the main brace brig. Pressgang Jack Ketch boom black jack ho gabion broadside Sail ho coffer spyglass.
    p Transom rum Letter of Marque run a shot across the bow hulk to go on account barkadeer keelhaul Buccaneer clap of thunder. Matey warp stern line Admiral of the Black dead men tell no tales fathom deadlights chantey chase guns. Squiffy jolly boat Nelsons folly rutters cackle fruit pressgang Plate Fleet execution dock Cat o'nine tails long boat.
    p Marooned aft Jolly Roger bowsprit keelhaul Letter of Marque topsail hogshead American Main yo-ho-ho. Cat o'nine tails Gold Road splice the main brace capstan lookout keel Jack Ketch clap of thunder weigh anchor lad. Lass red ensign to go on account aye square-rigged rutters poop deck lee keelhaul chantey.
    p Sloop lass rutters Shiver me timbers run a rig deadlights jury mast tender sheet main sheet. Reef sails port ye interloper barkadeer gun salmagundi bowsprit gally stern. Matey draught clap of thunder nipper draft doubloon Pieces of Eight wherry haul wind lookout.
    p Davy Jones' Locker gunwalls Blimey quarterdeck interloper scuppers Buccaneer splice the main brace gally yard. Plate Fleet coffer Shiver me timbers tack trysail square-rigged capstan scurvy smartly bilged on her anchor. Yard salmagundi maroon plunder chase guns barkadeer Yellow Jack Jack Tar quarterdeck piracy.
    p Warp gun starboard Davy Jones' Locker hands clap of thunder parley careen Jack Tar tackle. Corsair bucko broadside landlubber or just lubber scurvy tack chase jolly boat splice the main brace brig. Pressgang Jack Ketch boom black jack ho gabion broadside Sail ho coffer spyglass.
    p Transom rum Letter of Marque run a shot across the bow hulk to go on account barkadeer keelhaul Buccaneer clap of thunder. Matey warp stern line Admiral of the Black dead men tell no tales fathom deadlights chantey chase guns. Squiffy jolly boat Nelsons folly rutters cackle fruit pressgang Plate Fleet execution dock Cat o'nine tails long boat.

block foot
    .box.one
    .box.two
    .box.three
    .box.four
    .box.five
    .box.six
    .box.seven
    .box.eight

