extend layout
block content
    div.container
        input(type='text')#pseudoInput
        button#pseudoSet Set Pseudo
        #chatEntries
        #chatControls
            input(type='text')#messageInput
            button#submit Send

block sidebar
    .widget
        h1 Widget
        p
            | Sed auctor neque eu tellus rhoncus ut
            | eleifend nibh porttitor. Ut in nulla enim.
        p
            | Vivamus hendrerit arcu sed erat molestie
            | vehicula.