extend layout
block content
    .widget
        input(type='text')#pseudoInput
        button#pseudoSet Set Pseudo
        #chatEntries
        #chatControls
            input(type='text')#messageInput
            button#submit Send

