!!!5
html
    head
        title #{title} - My Site
        link(rel='stylesheet', href='/stylesheets/style.css')
        block styles
        script(src='/socket.io/socket.io.js')
        script(src='http://code.jquery.com/jquery-2.0.3.js')
        block scripts
    body
      #wrapper
        header
            block heading1
        .container
          .main-content
              block content
          footer
              p Running on node with Express, Jade and Stylus
