extend layout
block styles
    link(rel='stylesheet', href='/stylesheets/nowrap-IE.css')

block heading1
    h1 whitespace: nowrap;
block content
    p(style='max-width:300px') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacus mi, facilisis quis mauris id, aliquet sagittis enim. Morbi venenatis, nisi nec varius aliquet, mi magna vestibulum ipsum, non congue elit lectus quis sem. Fusce ligula massa, pharetra eu lectus at, vestibulum consequat leo. Pellentesque lobortis velit nulla, quis sollicitudin enim tristique id. Nulla facilisi. Aenean in augue sit amet sapien tempus interdum scelerisque nec arcu.
    span(style='max-width:300px') Sed vitae ante diam. Etiam eget tempus lectus. Vivamus fermentum nisi sed ipsum vehicula vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus pulvinar ac libero at commodo. Etiam non hendrerit justo, sed luctus erat. Mauris nec ipsum et neque placerat faucibus. Etiam dignissim porta nisi, eu ornare lectus vestibulum sed. Nam fermentum egestas tortor, eu consequat sem tempor sed.