extend layout

block scripts
    script(src='/javascript/scm_test.js')
    script(src='javascript/scm-player/script.js', data-config='{ "skin":"skins/black/skin.css","volume":50,"autoplay":false,"shuffle":false,"repeat":1,"placement":"top","showplaylist":false,"playlist":[{"title":"dax at freakers","url":"https://soundcloud.com/daxlee/dax-lee-live-at-freakers-ball"},{"title":"seth - hurt","url":"http://www.youtube.com/watch?v=TI79P6_Jl3I"},{"title":"galen phoenix","url":"https://soundcloud.com/heartphoenix/galen-heart-phoenix-uprising"}]}')

block heading1
    h1 Leap Motion Examples

block content
    p hello