!!!5
html
    head
        title #{title} - My Site
        link(rel='stylesheet', href='/stylesheets/style.css')
        block styles
        block scripts
    body
        block content
        block bottomjs
