extend threejs_layout

block scripts
    script(src='https://rawgithub.com/mrdoob/three.js/master/build/three.js', type='text/javascript')
block styles
    style canvas { width: 100%; height: 100% }

block bottomjs
    script(src='/javascript/threejs_fun.js', type='text/javascript')

