dot-size = 10px
finger-size = 20px

.dot
  position absolute
  width dot-size
  height dot-size
  border-radius dot-size
  background gold
  z-index 4

#finger
  position absolute
  display none
  width finger-size
  height finger-size
  border-radius finger-size
  background seagreen
  z-index 3

#wrapper
  position relative

.container
  position relative
  min-height 500px

.box
  position absolute
  width 40px
  height 40px
  z-index 2

  &.one
    background blue
    top 20%
    left 30%
  &.two
    background red
    top 50%
    left 70%
  &.three
    background orange
    top 80%
    left 20%
  &.four
    background purple
    top 40%
    left 25%
  &.five
    background yellow
    top 20%
    left 75%
  &.six
    background green
    top 40%
    left 90%
  &.seven
    background yellowgreen
    top 10%
    left 70%
  &.eight
    background aqua
    top 30%
    left 60%
  &.selected
    border 3px dashed black
