dot-size = 10px
finger-zide = 30px

.dot
  position absolute
  display block
  width dot-size
  height dot-size
  border-radius dot-size
  background gold

.finger
  position absolute
  display block
  width finger-size
  height finger-size
  border-radius finger-size
  background seagreen


#divider
  height 100%
  width 3px
  background #999
  position absolute
  top 0
  left 50%

.container
  position relative
  min-height 500px

.box
  position absolute
  width 40px
  height 40px

  &.one
    background blue
    top 20%
    left 30%
  &.two
    background red
    top 50%
    left 70%
  &.three
    background orange
    top 80%
    left 20%
  &.four
    background purple
    top 40%
    left 25%
  &.five
    background yellow
    top 20%
    left 75%
  &.six
    background green
    top 40%
    left 90%
  &.seven
    background yellowgreen
    top 10%
    left 70%
  &.eight
    background aqua
    top 30%
    left 60%
  &.selected
    border 3px dashed black
